# environments
**/*_env/

# data files
**/*.h5
**/*.hdf5
**/*.dat
W39_PRISM_data/
HITRAN_data/

# system
.DS_Store
desktop
desktop.pub

# python
**/__pycache__/
**/.ipynb_checkpoints/

**/*.fits
**/*_env/
